.userName {
  font-weight: 600;
  font-size: 1.675rem;
  line-height: 1.875rem;
}
.userTag {
  color: #666;
  font-size: 1.250rem;
}
.desc {
  margin-top: 20px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
