.detailsWrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.profileSection,
.repoSection {
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .detailsWrapper {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .detailsWrapper {
    width: 90%;
  }
  .profileSection {
    width: 30%;
    max-width: 280px;
    margin: 0 auto;
  }
  .repoSection {
    width: 70%;
  }
}
